extends layout

block content
  .index-nav
    .index-nav-1
      p.index-nav-1-content 숙소
      p.index-nav-1-content 체험
      p.index-nav-1-content 온라인 체험
    form
      .index-nav-2
        .index-nav-2-item-1
          .index-nav-2-box
            .index-nav-2-title 위치
            input.index-nav-2-subtitle(placeholder="어디로 여행가세요?" onClick="{locationInputHandler()}" name="location")

        .index-nav-2-item-2
          .index-nav-2-box
            .index-nav-2-title 체크인
            #start-date-p.index-nav-2-subtitle 날짜 추가
              
              input#startDate(type="date" onChange="{startDateHandler()}" name="start-date")
                
              
        .index-nav-2-item-3
          .index-nav-2-box
            .index-nav-2-title 체크아웃
            #end-date-p.index-nav-2-subtitle 날짜 추가
              input#endDate(type="date" onChange="{endDateHandler()}" name="end-date")          
        .index-nav-2-item-4(onClick="{peopleHandler()}")
          .index-nav-2-box
            .index-nav-2-title 인원
            .index-nav-2-subtitle 게스트 추가
        .index-nav-2-item-5
          button(type="submit").index-nav-2-btn
            i.fas.fa-search
            p.fa-search- 검색
    
      .people
        .people-container
          .people-1.each-people 
            p 성인
            .counter
              .minus(onClick="minusClickHandler1()") -
              input#counter-1(type="number" value="0" min="0" name="people1")
              .plus(onClick="plusClickHandler1()") +
            
          
          .people-2.each-people 
            p 어린이
            .counter
              .minus(onClick="minusClickHandler2()") -
              input#counter-2(type="number" value="0" min="0" name="people2")
              .plus(onClick="plusClickHandler2()") +

          .people-3.each-people 
            p 유아
            .counter
              .minus(onClick="minusClickHandler3()") -
              input#counter-3(type="number" value="0" min="0" name="people3")
              .plus(onClick="plusClickHandler3()") +
      
      .location-input-onclick-container
        .location-input-onclick
          i.fas.fa-map-marked
          p.location-rec 근처 추천 장소

  .intro-img-box-container
    .intro-img-box
      img#intro-img(src="https://a0.muscache.com/im/pictures/16df1348-322f-4482-8694-3ccbdbf078b1.jpg?im_w=1920")
      .intro-p-box
        p#intro-img-p1 이제, 여행은 가까운 곳에서
        p#intro-img-p2 가까운 곳의 숨겨진 아름다움을 발견하는 색다른 휴가를 즐겨보세요. 
        p#intro-img-p3 가까운 여행지 둘러보기 >
    
  .intro-2-container
    .intro-2-1
      img.intro-2(src="https://a0.muscache.com/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg")
      .intro-2-content
        .intro-2-title 온라인체험
        .intro-2-subtitle 세계 각지의 호스트가 진행하고 모두 함께 즐기는 독특한 액티비티
    .intro-2-1
      img.intro-2(src="https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=720")
      .intro-2-content
        .intro-2-title 독특한 공간
        .intro-2-subtitle 단순한 숙소 이상의 특별함이 담긴 공간
    .intro-2-1
      img.intro-2(src="https://a0.muscache.com/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg")
      .intro-2-content
        .intro-2-title 집 전체
        .intro-2-subtitle 일행만을 위한 편안한 공간에서 친구 및 가족과 오붓한 시간을 보내세요.  

  .intro-3-container 
    .intro-3-content
      .intro-3-content-p
        .intro-3-content-title 브로드웨이 온라인 체험
        .intro-3-content-subtitle 슬기로운 집콕 생활을 위한 색다른 방법 - 실시간으로 진행되는 인터랙티브 브로드웨이 공연에 참여하고 출연진과 대화를 나눠보세요.
      a(href="https://www.airbnb.co.kr/s/experiences/online") 모두 둘러보기  
    
    .intro-3-imgs
      .intro-3-left
        img(src="https://a0.muscache.com/im/pictures/38aeacb5-7e77-4bf6-a813-754605020922.jpg?im_w=720")
        p.intro-3-p 라스베이거스 댄서의 하루
      .intro-3-right
        .intro-3-right-top
          .intro-3-right-top-1
            img(src="https://a0.muscache.com/im/pictures/e77da774-9e72-46d6-a7fd-7d159f823046.jpg?im_w=720")
            p.intro-3-top-p 아이샤 잭슨과 함께하는 사랑, 빛, 치유의 저녁
          .intro-3-right-top-2          
            img(src="https://a0.muscache.com/im/pictures/7f607dbc-c51c-482e-8b67-55ded3e7f864.jpg?im_w=720")
            p.intro-3-top-p 마술과 독심술을 즐기는 밤
        .intro-3-right-bottom
          img(src="https://a0.muscache.com/im/pictures/d88db0e7-ef5b-49c6-ae07-af3525ac252f.jpg?im_w=720")
          p.intro-3-bottom-p 라이브 뮤지컬참여하기
  script(type="text/javascript").

    const locationInputOnclick = document.querySelector('.location-input-onclick-container')
    const calendar = document.querySelector('.calendar')
    const people = document.querySelector('.people')
    const plus = document.querySelector('.plus')
    const minus = document.querySelector('.minus')
    const counterNum1 = document.querySelector('input#counter-1')
    const counterNum2 = document.querySelector('input#counter-2')
    const counterNum3 = document.querySelector('input#counter-3')
    const form = document.querySelector('form')
    const locationInputHandler = () => {
      locationInputOnclick.classList.remove('location-input-onclick-container')
      locationInputOnclick.classList.add('location-input-clicked')

    }
  
    const startDateHandler = () => {
      const startDate = document.querySelector('#startDate')
      const startDateP = document.querySelector('#start-date-p')
      //- const startDateValue = document.getElementById("startDate").value

      startDateP.innerText = startDate.value
      
    }

    const endDateHandler = () => {
      const endDate = document.querySelector('#endDate')
      const endDateP = document.querySelector('#end-date-p')
      //- const startDateValue = document.getElementById("startDate").value
      endDateP.innerText = endDate.value
      
    }

    const peopleHandler = () => {
      people.classList.remove('people')
      people.classList.add('people-clicked')

    }

    let counter1 = 0
    const plusClickHandler1 = () => {
      
      counter1 += 1
      counterNum1.value = counter1
      
    }

    const minusClickHandler1 = () => {
      
      counter1 -= 1
      counterNum1.value = counter1
    }

    let counter2 = 0
    const plusClickHandler2 = () => {
      
      counter2 += 1

      counterNum2.value = counter2
    }

    const minusClickHandler2 = () => {
      
      counter2 -= 1

      counterNum2.value = counter2
    }

    let counter3 = 0
    const plusClickHandler3 = () => {
      
      counter3 += 1
      counterNum3.value = counter3
    }

    const minusClickHandler3 = () => {
      
      counter3 -= 1
      if (counter3>=0)
      counterNum3.value = counter3
    }

    form.addEventListener("submit", (e) => {
      e.preventDefault()

      console.log(form)
    })